.header{
  height: 32px;
  width: 130px;
  left: 120px;
  top: 12px;
  border-radius: "nullpx";
  font-family: "Comfortaa";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.navg{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 291px;
height: 28px;
right: 120px;
top: 14px;
}
.navg{
  font-family: "Comfortaa";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
text-align: left;

}

.content{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 486px;
height: 369px;
left: 0px;
top: 39px;


flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;
}

.designer{
  position: static;
height: 27px;
left: 0%;
right: 0%;
top: calc(50% - 27px/2 - 190.5px);

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
text-transform: uppercase;


color: #FDC435;


flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
}

.title{
  position: static;
width: 486px;
height: 154px;
left: calc(50% - 486px/2);
top: calc(50% - 154px/2 - 107.5px);


font-family: "Playfair Display";
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 120%;


color: #25282B;


flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;
}

.intro{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 486px;
height: 408px;
left: 120px;
top: 110px;

}

.text{
  position: static;
width: 486px;
left: calc(50% - 486px/2);
top: 0%;
bottom: 0%;
padding-top: 30px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;


color: #828282;


flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;
}

.img{
  display: flex;
  justify-content: flex-end;
float: right;
width: 720px;
height: 629px;
right: 0px;
bottom: 0px;

}

.projects{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 992px;
height: 1892px;
left: calc(50% - 992px/2 - 2px);
top: 773px;
}

.pro{
  position: static;
width: 181px;
height: 72px;
left: 0px;
top: 0px;


font-family: "Playfair Display";
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 72px;


text-align: center;


color: #25282B;


flex: none;
order: 0;
flex-grow: 0;
margin: 4px 0px;
}

.cont{
  position: static;
width: 496px;
height: 524px;
left: 0px;
top: 0px;

background: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}



img{
  float: right;
}

